.footer-custom{
    background-color: #24303c;
    color: white;
    height: 100px;
    width: 100%;
    border-top: solid 4px black;

    .footer-contact{
        width: 35%;
        font-size: 1rem;
    }

    .footer-info{
        width: 65%;
        font-size: 0.95rem;
    }

    .footer-custom i{
        font-size: 1.2rem;
    }

    .footer-link{
        color: white;
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        font-size: 0.9rem;
        align-items: center;
    }

    .footer-link:hover{
        text-decoration: underline;
    }
}