.stars {
    width: 135%;
        min-width: 135px;
        max-width: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    input {
        display: none;
    }

    label {
        font-size: 2em;
        cursor: pointer;
        color: gray;

        &::before {
            content: "☆";
        }
    }

    input:not(:checked) + label::before {
        content: "☆";
    }

    input:checked ~ label::before,
    label:hover::before,
    label:hover ~ label::before {
        content: "★";
        color: gold;
    }
}

.boton-opiniones {
    width: 20%;
}

.contact-info-section {
    background-image: linear-gradient(to right, #0401aa, #000000);
    color: white;
    padding: 20px; 
    border-radius: 10px; 

    h3 {
        color: #ffffff; 
        text-align: center; 
        margin-bottom: 15px;
    }

    ul {
        list-style: none; 
        padding: 0;

        li {
            margin-bottom: 10px;
            color: #e0e0e0; 

            strong {
                color: #ffffff;
            }

            a {
                color: #ffdd57; 
                text-decoration: none;

                &:hover {
                    text-decoration: underline; 
                }
            }
        }
    }

    .d-flex {
        flex-wrap: wrap; // Asegura que los elementos se ajusten en pantallas pequeñas
        align-items: center;

        .p-4 {
            color: #ffffff; // Ajusta el color del texto dentro de los bloques
        }
    }
}
    