*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "header";
@import "nav";
@import "main-inicio";
@import "main-servicios";
@import "proyectos";
@import "main-opiniones";
@import "footer";
@import "politicas";